#details-panel {
    height: 100%;
    padding: 0.8rem;
    box-sizing: border-box;
    background-image: url('../../assets/img/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    .details-button-bar {
        display: flex;
        height: 50px;
        padding: 1rem;

        .details-button {
            text-align: center;
            align-self: center;
            height: 1.6rem;
            font-size: 2rem;
            letter-spacing: 0.05rem;
            text-transform: uppercase;
            background-color: #111;
            border: solid 1px white;
            color: white;
            min-width: 3rem;
            min-height: 1.8rem;
            width: 100%;
            height: 5rem;
        }
        
        .details-button:hover {
            outline: none;
            background-color: white;
            color: #111;
        }

        .details-button:focus {
            outline: none;
        }
    }

    .details-content {
        padding: 1rem;
        height: calc(100% - 70px);
        overflow-y: scroll;
        
        &::-webkit-scrollbar {
            width: 0.5em !important;
        }
        
        &::-webkit-scrollbar-track {
            background-color: #333;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: #111;
            border: solid 1px white;
        }

        .details-group {
            border: solid 1px white;
            margin-bottom: 1rem;
            color: white;
            background-color: rgba(0, 0, 0, 0.8);

            .details-header-wrap {
                background-color: whitesmoke;
                display: flex;
                height: 2rem;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                user-select: none;
                
                .details-header {
                    align-self: center;
                    justify-self: center;
                    font-size: 1.5rem;
                    font-family: Arial, Helvetica, sans-serif;
                    letter-spacing: 0.02rem;
                    text-transform: uppercase;
                    color: black;
                    user-select: none;
                }
            }

            .details-group-content {
                padding: 0.5rem;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                
                .details-group-detail {
                    font-size: 1rem;
                    font-family: Arial, Helvetica, sans-serif;
                    letter-spacing: 0.02rem;
                    padding: 0.3rem;
                    font-weight: 700;
                    background-color: white;
                    color: black;
                    user-select: none;
                }
                
                .details-group-value {
                    font-size: 1rem;
                    font-family: Arial, Helvetica, sans-serif;
                    letter-spacing: 0.02rem;
                    padding: 0.2rem;
                    margin: 0 0 0 1rem;
                    color:white;

                    &::selection {
                        background: white;
                        color: black;
                        padding: 0.8rem;
                    }
                    
                    &::-moz-selection {
                        background: #ffb7b7; /* Gecko Browsers */
                    }
                }
                
                .details-group-value-copy-button {
                    margin-left: 0.5rem;
                }

                .details-group-value-copy-button:hover {
                    color: grey;
                }

                .details-thumbnail {
                    padding: 1rem;
                    pointer-events: none;
                    user-select: none;
                    max-width: 20rem;
                    max-height: 30rem;
                    height: 100%;
                    width: 100%;
                    margin: 0 auto;
                }
            }
        }
    }
}